.auth {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 25rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: left;
  background-color: #f4f0fa;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #616161;
  text-transform: uppercase;
  margin-bottom: 0.5rem;

  padding-left: 8%;
}

.control input {
  display: block;
  width: 20rem;
  margin: auto;
  border-radius: 4px;
  padding: 0.25rem;
  border: 1px solid #ccc;
}
.controler {
  display: flex;
  align-items: center;
  justify-content: center;
}
.controler button {
  margin-right: 10px;
}

.controler h4 {
  margin-left: 10px;
  font: inherit;
  cursor: pointer;
  /* background-color: #3c0080; */
  border: 1px solid #3c0080;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}
.controler h4:hover {
  font: inherit;
  cursor: pointer;
  background-color: #3c0080;
  border: 1px solid #3c0080;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}
